@tailwind base;
@tailwind components;
@tailwind utilities;

* html,
body {
  user-select: none;
  scroll-behavior: smooth;
}

h3 {
  @apply text-sm md:text-xl break-words;
}

:root {
  --scrollbar-thumb-home: #202023;
  --scrollbar-track-home: #ebe4e4;
  --scrollbar-thumb-contact: #ebe4e4;
  --scrollbar-track-contact: #202023;
}

body.home {
  scrollbar-color: var(--scrollbar-thumb-home) var(--scrollbar-track-home);
  scrollbar-width: thin;
}

body.home::-webkit-scrollbar {
  width: 0.5em;
}

body.home::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-thumb-home);
  border-radius: 20px;
}

body.home::-webkit-scrollbar-track {
  background: var(--scrollbar-track-home);
}

body.contact {
  scrollbar-color: var(--scrollbar-thumb-contact) var(--scrollbar-track-contact);
  scrollbar-width: thin;
}

body.contact::-webkit-scrollbar {
  width: 0.5em;
}

body.contact::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-thumb-contact);
  border-radius: 20px;
}

body.contact::-webkit-scrollbar-track {
  background: var(--scrollbar-track-contact);
}
